.FAQ-page{
    .faq-main-section{
        padding: 3rem 1rem;
        .container{
            max-width: 820px;
        }
        .faq-main-w{
            .tab-w{
                display: flex;
                justify-content: space-around;
                margin: 2rem auto;
                .button{
                    width: 150px;
                    height: 34px;
                }
            }
            .faq-w{
                padding: 2rem 0;
                .faq-item-w{
                    .question-w{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .question{
                            font-family: Karla;
                            font-size: 20px;
                            color: $charcoal-grey;
                        }
                    }
                    .answer{
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
    .know-more-section{
        padding: 4rem 0;
        background-color: $pale-grey;
        .container{
            max-width: 850px;
        }
        .know-more-w{
            .title{
                font-family: Poppins;
                font-size: 28px;
                text-align: center;
                color: $charcoal-grey;
            }
            .square-box{
                max-width: 400px;
                margin: 0 auto;
                border-radius: 4px;
                box-shadow: 0 8px 16px 0 rgba(64, 64, 65, 0.2);
                padding: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                .square-icon{
                    height: 80px;
                    width: auto;
                    margin: 2rem;
                }
                .square-title{
                    font-family: Poppins;
                    font-size: 22px;
                    font-weight: 600;
                    color: $charcoal-grey;
                    margin-bottom: 1.5rem;
                }
                .description{
                    font-family: Karla;
                    font-size: 20px;
                    text-align: center;
                    color: $charcoal-grey;
                    margin: 1rem auto;
                }
            }
        }
    }
}